<div class="container">

  <div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>

    <form (ngSubmit)="createNote()" #noteForm="ngForm">
        <div class="form-group">
            <label>Content</label>
            <input type="text" class="form-control" name="content" [(ngModel)]="contentStr" required>
        </div>

        <button type="submit" class="btn btn-success">Create Note</button>
    </form>

    <hr>

  </div>

  <h2>All Notes</h2>
    <ul class="notes">
      <li *ngFor="let note of notes">
        {{note.content}} Date: {{note.timestamp | date:"short"}}
      </li>
    </ul>

    <h2>Most Recent Notes</h2>
      <ul class="notes">
        <li *ngFor="let note of recentNotes">
          {{note.content}} Date: {{note.timestamp | date:"short"}}
        </li>
      </ul>

</div>
