<!-- put in "welcome user" here -->
<div class="container">
  <div [routerLink]="['/note']">
    <h2>Most Recent Notes</h2>
      <ul class="recentNotes">
        <li *ngFor="let note of recentNotes">
          {{note?.content}} Date: {{note?.timestamp | date:"short"}} Archived {{note?.archived}}
        </li>
      </ul>
  </div>

  <div [routerLink]="['/reminder']">
    <h2>Most Recent Reminders</h2>
      <ul class="reminders">
        <li *ngFor="let reminder of recentReminders">
          {{reminder?.note.content}} For: {{reminder?.deadline | date:"short"}} Created: {{reminder?.note.timestamp | date:"short"}}
        </li>
      </ul>
  </div>
</div>

<div [routerLink]="['/theater']">
  <h2>Now Playing: random garbage!!!</h2>
</div>
